
@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:2em;
  text-align:center;
  height:100%;
  width:100%;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

/*for Demo Only*/
.demo-row {
    background-color: rgb(204, 204, 204);
    opacity: 0.8;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  
  /*Implement*/
  .sponsor-feature {
      padding: 20px;
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px 0;
  }
  
  #id-sponsors .carousel {
      margin-bottom: 20px;
  }
  #id-sponsors .item {
      padding-bottom: 20px;
  }
  #id-sponsors .carousel-indicators {
      bottom: -75px;
  }